body {
    background: #121212;
}
.cell-fill {
    background-color: blue;
}
.tetris-grid-container {
    position: relative;
}
.tetris-grid-container,
.tetris-sidebar {
    background: #FEFEFA;
    height: 322px;
}
.tetromino {
    position: absolute;
}
.tetris-grid {
    border: 1px solid black;
    width: 202px;
}

.grid-cell,
.tetromino-cell {
    text-align: center;
    display: inline-block;
    height: 20px;
    width: 20px;
}