[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    background: #121212;
}
.tetris-grid-container {
    position: relative;
}
.tetris-grid-container,
.tetris-sidebar {
    background: #222;
    height: 322px;
}
.tetris-sidebar {
     color: #ccc;
 }
.tetromino {
    position: absolute;
}
.tetris-grid {
    border: 1px solid #ccc;
    width: 202px;
}
.grid-cell,
.tetromino-cell {
    text-align: center;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.shape-o {background-color: yellow;}
.shape-l {background-color: pink;}
.shape-j {background-color: blue;}
.shape-i {background-color: lightblue;}
.shape-s {background-color: green;}
.shape-z {background-color: red;}
.shape-t {background-color: purple;}
