/*
 *
 *  UTILITY
 *
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

body {
    background: #121212;
    color: #ccc;
    font-family: Georgia serif;
    line-height: 1;
}

.wrapper {
    background: #222;
    width: 480px;
    margin: 20px auto;
    border: 6px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}





/*
 *
 *  TYPOGRAPHY
 *
 */
@font-face {
    font-family: digital;
    src: url("../fonts/digital-7.italic.ttf");
}





/*
 *
 *  MAIN
 *
 */
.grid-container {
    width: 222px;
    position: relative;
    overflow: hidden;
    border: 1px solid #333;
    display: inline-block;
}
.tetromino { position: absolute; }

.grid-cell { background-color: #272727; }

.main-container,.grid-cell,.tetromino-cell { border: 1px solid #222; }

.grid-cell,
.tetromino-cell {
    height: 22px;
    width: 22px;
}
.grid-cell-sidebar {
    width: 15px;
    height: 15px;
    border: 1px solid #222;
}
.grid-cell,
.tetromino-cell,
.grid-cell-sidebar {
    display: inline-block;
}
.shape-o {background-color: yellow;}
.shape-l {background-color: pink;}
.shape-j {background-color: blue;}
.shape-i {background-color: lightblue;}
.shape-s {background-color: green;}
.shape-z {background-color: red;}
.shape-t {background-color: purple;}



/*
 *
 *  SIDEBAR
 *
 */
.sidebar-container {
    display: inline-block;
    position: relative;
    height: 0;
    width: 0;
    vertical-align: top;
}
.sidebar {
    color: #ccc;
    font-family: Arial;
    display: inline-block;
    position: absolute;
    width: 80px;
}
.score_text {
    font-family: digital;
    font-size: 2.5em;
}
.score, .next-up {
    margin-bottom: 20px;
}




/* SPLASH */
.splash {
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    transition: opacity 0.5s, visibility 0s 0.5s;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
}

.splash-open.splash {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.splash .splash-inner {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,150px);
    transform: translate3d(0,0,150px);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}


.splash-open.splash .splash-inner {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.splash .splash-content {
    width: 660px;
    height: 350px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -175px 0 0 -330px;
    color: #fff;
    font-size: 18px;
}