
<!DOCTYPE html>
<html lang="da" ng-app="app">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="tetrisCtrl as Tetris" ng-init="Tetris.initGame()" ng-cloak>
    <keydown-handler tetromino="Tetris.tetromino()" grid="Tetris.grid()"></keydown-handler>

    <div class="wrapper">

        <div class="grid-container">
            <!--current tetromino-->
            <div class="tetromino" ng-style="Tetris.tetrominoScreenPosition()">
                <div ng-repeat="row in Tetris.tetromino().shape track by $index">
                    <div class="tetromino-cell" ng-class="cell == 1 && Tetris.tetromino().class" ng-repeat="cell in row track by $index">&nbsp;</div>
                </div>
            </div>
            <!-- grid -->
            <div class="grid">
                <div class="grid-row" ng-repeat="row in Tetris.grid() track by $index">
                    <div class="grid-cell" ng-class="cell.value == 1 && cell.class" ng-repeat="cell in row track by $index">&nbsp;</div>
                </div>
            </div>
        </div> <!-- END tetris-grid-container -->

        <div class="sidebar-container">
            <div class="sidebar">
                <!-- score -->
                <div class="score">
                    <h4>{{ Tetris.getScore() }}</h4>
                </div>
                <!-- next up -->
                <div class="next-up">
                    <div class="grid-row" ng-repeat="row in Tetris.getNextTetromino().shape track by $index">
                        <div class="grid-cell-sidebar" ng-class="cell == 1 && Tetris.getNextTetromino().class" ng-repeat="cell in row track by $index">&nbsp;</div>
                    </div>
                </div>
                <!-- button -->
                <div class="btn-container">
                    <button class="btn-start" ng-click="Tetris.btnClickHandler()">{{ Tetris.getBtnLabel() }}</button>
                </div>
            </div> <!-- END sidebar -->
        </div> <!-- END sidebar-container -->

    </div> <!-- END wrapper -->

    <!-- ================================================== -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/tetris.controller.js"></script>
    <script src="js/action.service.js"></script>
    <script src="js/collision.service.js"></script>
    <script src="js/factory.service.js"></script>
    <script src="js/keydownHandler.directive.js"></script>
    <script src="js/shape.service.js"></script>
    <script src="js/tetromino.service.js"></script>
    <script src="js/score.service.js"></script>
    <script src="js/tetris.service.js"></script>
    <script src="js/btnHandler.service.js"></script>

</body>
</html>
